
@{
    ViewBag.Title = "Admin Index";
}

<h1>Admin Index</h1>


<h3>
    <li>@Html.ActionLink("Manage Teachers", "TeacherIndex", "Admin")</li>
    <li>@Html.ActionLink("Manage Students", "StudentIndex", "Admin")</li>
    <li>@Html.ActionLink("Manage Courses", "CoursesIndex", "Admin")</li>
    <li>@Html.ActionLink("Courses & Userse", "CoursesUserse", "Admin")</li>
  
</h3>